@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"),
  url("../fonts/opensans.woff") format("woff"),
  url("../fonts/opensans.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-style: light;
  font-weight: 300;
  src: local("Open Sans Light"),
  url("../fonts/opensanslight.woff") format("woff"),
  url("../fonts/opensanslight.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy";
  font-style: bolder;
  font-weight: 800;
  src: local("Gilroy ExtraBold"),
  url("../fonts/gilroyextrabold.woff") format("woff"),
  url("../fonts/gilroyextrabold.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy";
  font-style: light;
  font-weight: 300;
  src: local("Gilroy ExtraLight"),
  url("../fonts/gilroylight.woff") format("woff"),
  url("../fonts/gilroylight.woff2") format("woff2");
}

/*Global*/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  color: #464646;
  font-size: 15px;
  font-weight: lighter;
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  opacity: 0.6;
}

a:active {
  opacity: 0.3;
}

a.button:hover, a.button:active {
  opacity: 1;
}

/*For allu*/
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  margin: -1px;
}

/*Grid*/
.container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0 60px;
  position: relative;
}

.row {
  display: flex;
  flex-flow: row;
  flex-grow: 1;
  flex-basis: 100%;
  flex-wrap: wrap;
  position: relative;
  margin: 0;
  padding: 0;
}

.reset-padding {
  padding: 0;
}

.justify-between {
  justify-content: space-between;
}

/*Typography*/

.h1-title, .h2-title, .h3-title, .h4-title, .button {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  letter-spacing: 0.01em;
  color: #000000;
  margin: 0;
}

.h1-title {
  font-size: 47px;
}

.h2-title, .button {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.h3-title {
  font-size: 18px;
  line-height: 1.2;
}

.h4-title {
  font-size: 16px;
}

/*Backgrounds*/

.bg-yellow {
  background-color: rgba(240, 197, 46, 0.5);
}

.bg-gray {
  background-color: rgba(0, 0, 0, 0.08);
}

.bg-dark {
  background-color: #464646;
}

/*Btn*/
.button {
  border: none;
  background-color: transparent;
  padding: 11px;
  position: relative;
  cursor: pointer;
  text-align: center;
}

.button:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
  left: 0;
  top: 17px;
  z-index: -1;
  transition: all;
  transition-duration: 200ms;
}

.button:hover.button:before {
  height: 40px;
  top: 0;
}

.button:active {
  background: #f0c52e;
  color: #a88a20;
}

/*Header*/

.main-header {
  margin-top: 40px;
}

/*Navigation*/

.main-header .header-nav {
  padding-bottom: 52px;
}

.header-nav .logo {
  display: inline-block;
  vertical-align: middle;
  width: 163px;
  height: 35px;
  position: relative;
  top: -18px;
}

.search-form-wrapper {
  margin-bottom: 30px;
}

.search-form-wrapper .search-form {
  display: flex;
  width: 440px;
}

.search-form-input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  outline: 0;
  font-size: 15px;
  font-weight: lighter;
  padding: 2px 40px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 3px 15px;
}

.search-form-input::placeholder {
  color: #000000;
  opacity: 0.3;
}

.search-form-input:hover::placeholder {
  opacity: 0.6;
}
.search-form-input:focus {
  border-bottom: 2px solid #000000;
}

.search-form-input:focus::placeholder {
  opacity: 1;
}

.search-form-input:focus ~ .search-form-submit {
  visibility: visible;
}

.search-form-submit:hover {
  visibility: visible;
  color: #ffffff;
  background-color: #000000;
}

.search-form-submit:active {
  visibility: visible;
  color: #333;
  background-color: #000000;
}

.search-form-submit {
  visibility: hidden;
  outline: 0;
  border: 2px solid #000000;
  font-size: 15px;
  padding: 14px 16px;
  background: transparent;
}

.user-actions {
  justify-content: flex-end;
  align-items: center;
  flex-grow: 0;
  flex-basis: auto;
  width: 500px;
}

.user-actions > span {
  margin-left: 40px;
}

.user-actions a:last-child {
  margin-right: 0;
}

.user-actions svg {
  margin-right: 12px;
}

.authorization {
  display: flex;
  flex-grow: 1;
}

.sign-out {
  margin-left: 22px;
  opacity: 0.3;
}

.main-menu {
  justify-content: flex-end;
  list-style: none;
}

.main-menu .menu-item {
  margin-left: 35px;
}

.main-menu .menu-item:last-child {
  margin-right: 0;
}

.submenu-wrapper {
  z-index: 1;
  left: -60px;
  background-color: #f7e296;
  margin-top: 30px;
  padding-bottom: 24px;
}

.submenu {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

.submenu .menu-item {
  font-size: 15px;
  font-weight: normal;
  text-transform: none;
  letter-spacing: normal;
  margin: 0;
  padding: 10px 0;
  padding-right: 30px;
}

.menu-item.catalog-link {
  display: flex;
  position: absolute; /*For submenu correct view*/
  margin: 0;
  margin-right: auto;
  flex-flow: column;
  left: 0;
}

.menu-item.catalog-link .submenu-wrapper {
  display: none;
}

.menu-item.catalog-link:hover .submenu-wrapper {
  display: flex;
}

.menu-item.catalog-link > a:after {
  content: "";
  display: inline-block;
  vertical-align: baseline;
  width: 16px;
  height: 16px;
  position: relative;
  left: 10px;
  top: 2px;
  opacity: 0.3;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/plus.svg");
}

.menu-item.contacts {
  margin-left: 105px;
}

/*Slider*/

.slider {
  display: none;
  margin-bottom: 104px;
  border-top: 112px solid rgba(240, 197, 46, 0.5);
}

.slider.slider-show {
  display: flex;
}

.slider-wrapper {
  justify-content: space-between;
  top: -110px;
  margin-bottom: -110px;
}

.slider-img {
  width: 526px;
}

img.monopad {
  margin-left: 30px;
}

.slider-content {
  position: relative;
  width: 500px;
  margin-top: 80px;
}

.slider-content .button {
  width: 220px;
  flex-shrink: 0;
}

.slider-content .h1-title {
  margin-bottom: 20px;
  line-height: 1.2;
}

.slider-content .h1-title:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: -43px;
}

.slider-content .h1-title:after {
  content: "01";
  width: 180px;
  height: 180px;
  display: inline-block;
  vertical-align: middle;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 179px;
  color: #ffffff;
  font-weight: 800;
  line-height: 0.9;
  position: absolute;
  right: -10px;
  top: -85px;
}

.slider-content.slider-2 .h1-title:after {
  content: "02";
}

.slider-content.slider-3 .h1-title:after {
  content: "03";
}

.slider-tabs-wrapper {
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 53px;
}

.slider-tabs {
  display: flex;
  flex-wrap: wrap;
  margin-right: 24px;
}

.slider-tab {
  width: 12px;
  height: 12px;
  background-image: url("../img/slider-button-empty.svg");
  background-size: 12px 12px;
  background-position: center;
  background-repeat: no-repeat;
  margin: 10px;
  cursor: pointer;
}

.slider-tab:last-child {
  margin-right: 0;
}

.slider-tab.active {
  background-image: url("../img/slider-button.svg");
}

.slider-description {
  line-height: 30px;
  color: #464646;
}

.property {
  margin-right: 78px;
  font-size: 13px;
  color: #464646;
}

.property .stat {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 36px;
  font-weight: lighter;
  margin: 0;
  margin-bottom: 15px;
  line-height: 1.1;
  color: #000000;
}

.property:last-child {
  margin-right: 0;
}

/*Popular categories*/

.popular {
  justify-content: space-between;
  list-style: none;
  margin-bottom: 60px;
}

.popular li {
  width: 160px;
  margin-bottom: 16px;
}

.popular li:nth-child(6n) {
  margin-right: 0;
}

.popular p {
  line-height: 1.3;
}

.popular-img {
  width: 160px;
  height: 160px;
  background-color: rgba(240, 197, 46, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 34px;
}

.popular-img.selfie {
  display: flex;
  align-items: flex-end;
}

.popular li:hover .popular-img, .popular li:active .popular-img {
  background-color: rgba(240, 197, 46, 1);
}

.popular li:active svg {
  opacity: 0.3;
}

/*Services*/

.services {
  top: -100px;
  margin-bottom: -35px;
  padding-bottom: 5px;
}

.services-block {
  margin-top: 104px;
  margin-bottom: 95px;
}

.services-block .h1-title {
  margin-bottom: 27px;
}

.services-tabs {
  width: 283px;
  z-index: 100;
  border-right: 7px solid #000000;
  padding-top: 65px;
}

.tab-content {
  display: none;
  align-items: flex-start;
  flex-grow: 1;
  justify-content: space-between;
}

.tab-content.content-show {
  display: flex;
}

.tab-text {
  width: 560px;
  padding-top: 70px;
  padding-left: 117px;
  padding-bottom: 62px;
}

.tab-text p {
  line-height: 2;
}

.tab-content img {
  margin-top: 85px;
  margin-right: 66px;
}

.services-tabs .tab {
  width: 160px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 7px;
}

.services-tabs .tab.active {
  color: #f7e184;
  background-color: #000000;
  padding: 10px;
  padding-right: 125px;
  width: 100%;
}

.tab.active:before {
  content: none;
}

/*Partners*/
.partners {
  margin-bottom: 92px;
  justify-content: space-between;
}

.partners a:hover, .partners a:active {
  opacity: 1;
}

.partners-logo {
  width: 260px;
  height: 100px;
  cursor: pointer;
}

.partners-logo:hover img {
  opacity: 0;
}

.partners-logo.logo-1 {
  background-image: url("../img/logo-1-hover.jpg");
}

.partners-logo.logo-2 {
  background-image: url("../img/logo-2-hover.jpg");
}

.partners-logo.logo-3 {
  background-image: url("../img/logo-3-hover.jpg");
}

.partners-logo.logo-4 {
  background-image: url("../img/logo-4-hover.jpg");
}

/*Section about*/

.about-company {
  margin-bottom: 80px;
}

.about-company .h1-title {
  margin-bottom: 40px;
}

.about-company p {
  line-height: 2;
  margin-bottom: 30px;
}

.about-company .about, .about-company .contacts {
  width: 560px;
}

.about-company .button {
  display: inline-block;
  vertical-align: baseline;
  margin-top: 65px;
  width: 260px;
}

.about-company .preview-map {
  margin-top: 10px;
}

.about-company h2:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 80px;
  height: 7px;
  background-color: #000000;
  position: absolute;
  top: 0;
}

.about-company h2 {
  margin-top: 50px;
}

ul.partners-list {
  margin-top: 76px;
  padding-left: 25px;
  margin-bottom: 0;
}

ul.partners-list li {
  margin-bottom: 22px;
  margin-left: 3px;
  list-style: none;
}

ul.partners-list li:before {
  content: "";
  display: inline-block;
  vertical-align: baseline;
  width: 7px;
  height: 7px;
  border: 2px solid #ccc;
  border-radius: 7px;
  position: relative;
  right: 28px;
}

ul.partners-list li:last-child {
  margin-bottom: 0;
}

/*Footer*/

.footer {
  padding: 65px 0;
}

.footer, .footer a {
  color: #ffffff;
  font-weight: lighter;
}

.footer .row {
  align-items: center;
}

.footer-adress, .footer-phone {
  flex-basis: 25%;
}

.footer-html-icon, .footer .brick {
  flex-basis: 80px;
}

.footer-phone {
  text-align: right;
}

.footer-phone a:hover {
  opacity: 1;
}

.footer .main-menu, .footer .footer-social-media {
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  justify-content: center;
  margin-top: 36px;
  margin-bottom: 30px;
  padding: 0;
}

.footer .menu-item:first-child {
  margin-left: 0;
}

.footer-actions .authorization {
  margin-right: 0px;
  flex-grow: 0;
}

.footer-actions {
  align-self: end;
  line-height: 2;
}

.footer-actions svg {
  margin-right: 9px;
}

.footer-actions a {
  opacity: 0.6;
}

.footer-actions > svg {
  opacity: 1;
}

.footer-actions span:hover a {
  opacity: 1;
}

.footer-actions span:hover svg {
  opacity: 0.6;
}

.footer-actions span:active a, .footer-actions span:active svg {
  opacity: 0.2;
}

.footer-social-media {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 35px 0;
}

.footer-social-media a {
  opacity: 0.3;
  margin: 0 11px;
  display: flex;
}

.footer-social-media a:hover {
  opacity: 0.6;
}

.footer-social-media a:active {
  opacity: 0.1;
}

.footer-html-icon {
  display: flex;
  justify-content: flex-end;
}

/*Modal*/

.modal {
  position: fixed;
  color: #000000;
  background-color: #ffffff;
  background-position: 0 0;
  background-repeat: repeat;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  display: none;
  top: 90px;
  left: 50%;
  width: 960px;
  margin-left: -480px;
  padding: 100px;
  padding-bottom: 95px;
}

.modal-show {
  display: block;
}

.modal-close {
  position: absolute;
  top: 23px;
  right: 23px;
  width: 55px;
  height: 55px;
  background-color: rgba(240, 197, 46, 0.5);
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}

.modal-close:hover {
  background-color: rgba(240, 197, 46, 1);
}

.modal-close:active {
  background-color: rgba(240, 197, 46, 0.3);
}

.modal-close:before,
.modal-close:after {
  content: "";
  position: absolute;
  top: 26px;
  left: 13px;
  width: 30px;
  height: 2px;
  background-color: #ffffff;
}

.modal-close:before {
  transform: rotate(45deg);
}

.modal-close:after {
  transform: rotate(-45deg);
}

input[type="text"], input[type="email"], textarea {
  padding: 14px;
  background-color: rgba(229, 229, 229, 0.6);
  outline: none;
  font-size: 14px;
  border: 3px solid transparent;
}

input[type="text"]:hover, input[type="email"]:hover, textarea:hover {
  background-color: rgba(229, 229, 229, 0.8);
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
  background-color: #ffffff;
  border: 3px solid #f0c52e;
}

.modal input[type="text"] {
  margin-right: 40px;
}

.field {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  margin-bottom: 40px;
  flex-grow: 1;
}

.modal label {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  margin-bottom: 5px;
}

.modal.map {
  background-image: url("../img/map-big.jpg");
  background-repeat: no-repeat;
  height: 555px;
  box-sizing: border-box;
}

/*Breadcrumbs*/

.breadcrumbs {
  font-size: 14px;
  color: #000000;
  display: flex;
  list-style: none;
  margin: 24px 0;
  padding: 0;
  margin-bottom: 50px;
}

.breadcrumbs li {
  display: flex;
  align-items: center;
}

.breadcrumbs li:after {
  content: "";
  display: inline-block;
  vertical-align: baseline;
  width: 4px;
  height: 7px;
  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
  margin-top: 2px;
  margin-left: 5px;
  margin-right: 20px;
}

.breadcrumbs li:last-child:after {
  display: none;
}

.breadcrumbs a {
  margin-right: 10px;
  opacity: 0.3;
}

.breadcrumbs .arrow {
  margin-left: 4px;
  margin-right: 10px;
}

/*Decoration*/

.brick {
  width: 80px;
  height: 7px;
  display: inline-block;
  vertical-align: unset;
}

.brick.yellow {
  background-color: #f0c52e;
}

.brick.white {
  background-color: #ffffff;
}

.brick.black {
  background-color: #000000;
}

/*Inner-page grid*/

.left-side {
  display: flex;
  flex-basis: 330px;
  flex-grow: 1;
  flex-flow: column;
  align-items: flex-end;
  background-color: #efefef;
}

.right-side {
  flex-basis: 830px;
  flex-grow: 1;
}

.container.container-catalog {
  margin-top: 35px;
  padding-right: 0;
}

/*Filter*/

.filter-wrapper {
  width: 330px;
  padding-left: 60px;
  padding-right: 70px;
  z-index: 1;
}

.filter-wrapper form {
  margin-top: 68px;
}

.filter-wrapper .button {
  z-index: 1;
}

.filter-wrapper fieldset {
  display: flex;
  flex-flow: column;
  border: none;
  color: #000000;
  margin: 0;
  margin-bottom: 43px;
  padding: 0;
}

.coast-range {
  width: 100%;
  height: 2px;
  background-color: #dbdbdb;
  position: relative;
  margin-top: 8px;
  margin-bottom: 24px;
}

.coast-range-value {
  background-color: #91c92f;
  width: 60%;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
}

.range-btn {
  border: none;
  background-color: transparent;
  top: -10px;
  position: absolute;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  flex-flow: column;
  z-index: 2;
}

.range-btn:focus {
  outline: 0;
}

.range-btn p {
  margin-top: 5px;
}

.range-btn.start {
  left: -10px;
}

.range-btn.end {
  align-items: center;
  left: 86px;
}

.range-point {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #999999;
  border: 8px solid #ffffff;
  box-shadow: 0 2px 0 0 rgba(153, 153, 153, 0.3);
  z-index: 2;
}

.range-btn:focus .range-point, .range-btn:active .range-point {
  transform: scale(1.1);
}

.filter-wrapper h2 {
  width: 100%;
  margin: 0;
  padding: 26px 0;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.filter-wrapper .button {
  width: 100%;
}

.fieldset-title {
  display: block;
  width: 100%;
  padding-top: 12px;
  margin-bottom: 27px;
  border-top: 2px solid #000000;
}

.filter-checkbox, .filter-radio {
  display: block;
  position: relative;
  padding-left: 40px;
  padding-top: 3px;
  margin-bottom: 19px;
  cursor: pointer;
  line-height: 1.2;
}

.filter-checkbox:last-child, .filter-radio:last-child {
  margin-bottom: 0;
}

.filter-checkbox:hover, .filter-radio:hover {
  opacity: 0.6;
}

.filter-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-checkbox input[type="checkbox"]:checked + .checkbox-indicator {
  background-image: url("../img/checkbox-on.svg");
}

.filter-checkbox input[type="checkbox"]:focus + .checkbox-indicator,
.filter-radio input[type="radio"]:focus + .radio-indicator {
  opacity: 0.3;
}

.filter-radio input[type="radio"] + .radio-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border-radius: 16px;
  border: 4px solid #000000;
}

.filter-radio input[type="radio"]:checked + .radio-indicator:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 8px;
  height: 8px;
  border-radius: 6px;
  background-color: #000000;
  position: absolute;
  top: 4px;
  left: 4px;
}

/*Sorting*/

.sort {
  width: 100%;
  align-items: center;
  padding: 26px 0;
  margin-bottom: 70px;
}

.sort h2 {
  margin-right: 56px;
}

.sort a {
  font-size: 14px;
  opacity: 0.3;
}

.sort a:hover {
  opacity: 0.6;
}

.sort a:active {
  opacity: 1;
}

.categories {
  display: flex;
  align-items: center;
}

.categories .h4-title {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.categories a {
  margin-right: 28px;
}

.range-filter-wrapper {
  display: flex;
  align-items: center;
}

.range {
  width: 12px;
  height: 12px;
  display: inline-block;
  vertical-align: middle;
  border-top: 12px solid #000000;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  margin-left: 16px;
  opacity: 0.2;
}

.range:hover {
  opacity: 0.4;
}

.range:active {
  opacity: 1;
}

.range.range-bottom {
  transform: rotate(180deg);
}

.range.active {
  opacity: 1;
}

/*Catalog*/

.catalog {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.catalog-wrapper {
  width: 830px;
  padding-left: 70px;
  flex-basis: auto;
  flex-grow: 0;
}

.catalog > li {
  list-style: none;
}

.catalog-item {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  width: 360px;
  margin-bottom: 50px;
  opacity: 1;
  position: relative;
  cursor: pointer;
}

.catalog-item-coast {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  width: 100px;
  text-align: right;
  letter-spacing: 0.02em;
}

.catalog-item:hover .catalog-item-hover {
  display: flex;
}

.catalog-item-hover {
  display: none;
  position: absolute;
  z-index: 1;
  background: rgba(238, 238, 238, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 380px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.catalog-item-hover .button {
  margin-bottom: 10px;
}

.catalog-item-hover a {
  opacity: 0.6;
}

.catalog-item-hover a:hover {
  opacity: 1;
}

.catalog-item-hover a:active {
  opacity: 0.2;
}

.catalog-item-title {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 34px;
}

.catalog-item-title a {
   display: inline-block;
  vertical-align: middle;
}

.catalog-item.sale:after {
  content: "NEW";
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 100;
  width: 60px;
  height: 60px;
  padding: 21px 13px;
  border-radius: 50%;
  font-size: 14px;
  font-family: "Gilroy", Arial, sans-serif;
  font-style: bolder;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(0, 0, 0, 0.1);
}

/*Pagination*/

.pagination {
  align-items: center;
  margin-top: -10px;
  margin-bottom: 77px;
}

.pagination a {
  font-size: 16px;
}

.pagination ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.pagination .count {
  margin: 13px;
  opacity: 0.3;
}

.pagination .count:hover {
  opacity: 0.6;
}

.pagination .count.active, .pagination .count:active {
  opacity: 1;
}

.pagination-forward, .pagination-back {
  text-align: center;
  display: inline-block;
  padding: 25px 30px;
  width: 132px;
}

.pagination-forward:hover, .pagination-back:hover {
  background-color: rgba(0, 0, 0, 0.08);
  opacity: 1;
}

.pagination-forward:active, .pagination-back:active {
  color: rgba(0, 0, 0, 0.6);
}

.filter-header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
