@font-face {
  font-family: 'Gilroy';
  font-style: bolder;
  font-weight: 700;
  src: local('Gilroy ExtraBold'),
  url('/fonts/Gilroy-ExtraBold.woff') format('woff'),
  url('/fonts/Gilroy-ExtraBold.ttf') format('ttf'),
  url('/fonts/Gilroy-ExtraBold.eot') format('eot');
}

@font-face {
  font-family: 'Gilroy';
  font-style: light;
  font-weight: 300;
  src: local('Gilroy ExtraLight'),
  url('/fonts/Gilroy-Light.woff') format('woff'),
  url('/fonts/Gilroy-Light.ttf') format('ttf'),
  url('/fonts/Gilroy-Light.eot') format('eot');
}

/* Хорошо так делать или нет? */
html {
  font-family: "Open Sans", Arial, sans-serif;
  color: #464646;
  font-size: 15px;
}

.header a {
  color: #000;
}

.main-menu {
  font-family: "Gilroy";
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2pt;
}

li.menu-item a{
  text-decoration: none;
}

.header {
  background-color: rgba(240, 197, 46, 0.5);
}

/* Такое решение тоже меня смущает */
h1, h2 {
  font-family: "Gilroy";
  font-weight: 700;
  font-size: 47px;
  letter-spacing: 0.1pt;
  color: #000;
}

.partners {
  font-family: "Gilroy";
  font-weight: 700;
  font-size: 16px;
  color: #000;
}

.button {
  font-family: "Gilroy";
  font-weight: 700;
  font-size: 18px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2pt;
  background: none;
  border: none;
  background-color: #f0c52e;
  padding: 0 23px;
  box-shadow: inset 0px 8px 0 white, inset 0px -8px 0 white;
}

.footer, .footer a {
  background-color: #464646;
  color: white;
}

.opacity-link {
  opacity: 0.7;
}

aside {
  background-color: #efefef;
}

.catalog a{
  text-decoration: none;
  color: #000;
}

.item__title {
  font-family: "Gilroy";
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.1pt;
}

.item__coast {
  font-family: "Gilroy";
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.1pt;
}

legend {
  font-family: "Gilroy";
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.1pt;
}

.breadcrumbs {
  font-size: 14px;
  color: #000;
  opacity: .3;
}

.breadcrumbs a {
  text-decoration: none;
  color: #000;
}
